body {
  background-image: url('5193670.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center center; /* Adjust as needed */
  background-repeat: no-repeat; /* Adjust as needed */
  padding: 30px 30px 50px 30px;
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-position: fixed;
  color: white;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 250px;
  background-color: #ccc;
}

h1 {
  text-transform: uppercase;
  font-size: 250%;
  margin: 1em 0;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  text-transform: uppercase;
}

h5{
  font-size: 80%;
  font-weight: 500;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3, h4 {
  font-size: 150%;
  font-weight: bold;
}

main {
  border-radius: 20px;
  width: 80%;
  height: 80%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: rgba(129, 117, 117, 0.377); /* Semi-transparent white background */
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #fdfdfd;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.course .descrition {
  -ms-flex: 0 0 66.6%;
  font-size: 100%;
  flex: 0 0 66.6%;
  max-width: 80%;
}

.course .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  font-size: large;
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: rgba(19, 111, 114, 0.692);
}

.school , .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #dff1f1;
  font-size: 100%;
  text-decoration: underline;
}

ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #070707;
}